<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./components/head.ejs') %>
    <style>
      .container {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="container d-flex justify-content-center align-items-center">
      <div class="card">
        <div class="card-header">
          <h3 class="d-flex align-items-center">
            <a href="/" class="btn btn-primary me-3"
              ><i class="fa fa-arrow-left"></i
            ></a>
            Detail
          </h3>
        </div>
        <div class="card-body">
          <table class="table">
            <tr>
              <td>NISN</td>
              <td>:</td>
              <td><%= data.noPeserta %></td>
            </tr>
            <tr>
              <td>Nama</td>
              <td>:</td>
              <td><%= data.nama %></td>
            </tr>
            <tr>
              <td>Tempat Lahir</td>
              <td>:</td>
              <td><%= data.tempatLahir %></td>
            </tr>
            <tr>
              <td>Jenis Kelamin</td>
              <td>:</td>
              <td><%= data.jenisKelamin %></td>
            </tr>
            <tr>
              <td>Alamat</td>
              <td>:</td>
              <td><%= data.alamat %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
